*.iml
.gradle
.gradle-local/
/.android-sdk/
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release
/gradle/gradle-daemon-jvm.properties
/app/libs/*.aar
/app/standard/
/app/fdroid/
/app/playstore/
